bady{
  backgroud-image:url
  backgroud-size;cover; 
  backgroud-repeat:no-repeat;
  backgroud-arrachment:fixer
  backgraud-position:cente cente
  color-white
  font-family;arial,sans-serif;
  text-align;center
  margin;0
  padding;0
